.main-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 100px;
  gap: 50px;
}

.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
}

.first-section {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 35px;
}

.second-section p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 1.6;
  margin: 0;
}

.buttons {
  width: 350px;
  height: 250px;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-stack {
  position: relative;
  width: 400px;
  height: 400px;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.laptop-image {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 35px;
}

.logo-image {
  width: 100px;
  height: 100px;
}

.text {
  display: flex;
  gap: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}

.button {
  display: flex;
  gap: 30px;
}

.create-btn,
.create-btn2 {
  width: 100px;
  padding: 10px;
  border-radius: 15px;
  border: none;
  font-size: 14px;
  margin-top: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 550;
}

.create-btn {
  background-color: aquamarine;
}

.create-btn2 {
  background-color: rgb(1, 195, 130);
}
